@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  /* background: #F2F4EE; */ }

body {
  background: #f2f4ee; }

header {
  padding: 1rem; }

.main-header {
  background-color: #fff; }

header section h1 {
  color: #4e6162;
  font-size: 2rem; }

#main {
  width: 100vw;
  height: 100vh;
  border: 1px solid transparent; }
  #main #content {
    width: 100vw;
    height: 80vh;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #main #content a {
      color: #414844; }
    #main #content .content-header {
      width: 580px; }
      #main #content .content-header h2 {
        border: 1px solid transparent;
        font-size: 3.5rem;
        color: #4e6162; }
    #main #content > div {
      height: 20vh;
      width: 40vw;
      display: flex;
      justify-content: space-around;
      border: 1px solid transparent; }
      #main #content > div a {
        width: 200px;
        height: 100px;
        font-size: 1.3rem;
        text-decoration: none;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent; }
        #main #content > div a p {
          width: 200px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0rem;
          border: 1px solid transparent;
          transition: all 0.5s ease-in-out; }
          #main #content > div a p:hover {
            color: #fff;
            background: #414844; }
  #main #register-main {
    /**************************
       Confirmation elems styles 
       **************************/ }
    #main #register-main input {
      width: 200px;
      height: 50px;
      display: none; }
  #main #actual {
    /************************
        Actual comprises of 
        1. Might-interest section 
        2. question-time section
    *************************** */
    width: 100vw;
    height: 100vh;
    background: #414844;
    display: flex;
    flex-direction: row;
    justify-self: space-around; }
  #main #actual h2 {
    font-size: 3rem;
    color: #d55d21;
    padding: 1rem 2rem; }
  #main .might-interest h2 {
    border: 1px solid transparent; }
  #main .might-interest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem; }
    #main .might-interest h2 {
      color: #d55d21;
      border: 1px solid transparent; }
    #main .might-interest p {
      color: #414844; }
    #main .might-interest #might-interest-tips article {
      width: 350px;
      height: 100px;
      background: #fff;
      margin: 50px 50px;
      padding: 1rem;
      box-shadow: rgba(207, 201, 201, 0.432) 1px 2px 20px 2px;
      border-radius: 5px; }
      #main .might-interest #might-interest-tips article h2 {
        color: #d55d21; }
      #main .might-interest #might-interest-tips article p {
        color: #414844; }
  #main #confirmation_elems {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    right: 00px;
    top: 100px;
    padding: 1.5rem;
    width: 100%;
    height: 100vh;
    border-radius: 5px;
    border: 1px solid transparent; }
  #main #confirmation_elems input {
    padding: 0.5rem;
    background: rgba(221, 218, 218, 0.788);
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 340px;
    display: block; }
  #main .verification {
    color: #d55d21;
    text-decoration: none;
    border: 1px solid transparent;
    width: 200px;
    height: 50px;
    font-size: 1.3rem; }
  #main .question-time {
    /* ***************************
      Question time section styles
        This comprises of two sections. They are;
        1.question-time-form
        2. confirmation-elems 
    **********************************/
    /* ****** General styles **********/
    background: #414844;
    color: #d55d21;
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent; }
  #main #question-time-form {
    width: 30vw;
    height: 10vh; }
    #main #question-time-form input,
    #main #question-time-form fieldset {
      visibility: hidden; }
    #main #question-time-form h2 {
      font-size: 3rem; }
  #main #cf-context {
    width: 100vw;
    height: 200px;
    position: relative;
    right: 40px; }

#conversational-form {
  height: 80vh;
  width: 60vw;
  margin: 0 auto;
  border-radius: 5px; }

#success-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #414844; }

#success-main section {
  background: #fff;
  border-radius: 5px;
  height: 300px;
  width: 400px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }
